.dongDaeMoon-ex__detail>ul>li{
    line-height: 30px;

}



.dongDaeMoon-parking-confirm{
    margin-top: 60px;
}


.dongDaeMoon-parking-fee{
  
    margin-top: 50px;
    
}


.dongDaeMoon-subtitle{
    width:740px;
}

.dongDaeMoon-publicTransport{
    height: 500px;
   
}

.dongDamMoon-footer{
   margin-top: 200px;
}