header {
  width: 1280px;
  height: 40px;
  background-color: rgb(243, 156, 18);
  margin: auto;
}
.header-bar {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.header-bar__menu {
  font-size: 14px;
  border-right: 1px solid white;
  padding-left: 20px;
  padding-right: 30px;
}

.header-bar__menu:last-child {
  border-right: none;
}

.header-bar__menu a{
	color:white;
}