#content_list h3{
	float: left;
	margin-left: 570px;
	font-size: 30px;
}

#content_list button{
	float: right;
}
.clear{
	clear: both;
}
.items{
	width: 230px;
	float: left;
	margin: 30px 0 0 65px;
	
}
.items li img{
	border: 1px solid #333;
}
.items li img:hover{
 	transform:scale(1.04);
	transition: transform .5s;

}
.a{
	font-weight: bold;
	color: black;
	margin-top: 5px;
}
.b{
	font-weight: bold;
	color: black;
	margin-top: 5px;
}
.b span{
	color: #a26f59;
}
.c{
	font-size: 10px;
	margin-top: 5px;
	line-height: 150%;
}
.d{
	font-size: 13px;
}
.d span{
	color: #a26f59;
}
ul{
	padding: 0;
	list-style: none;
}
.list h4{
	bold;
	size: 20px;
	
}