.main-content{
			
			display:flex;
			margin:30px 0 0 30px;
		}
		
		
		.side{
			margin-left:70px;
		}
		
		
		
		.local-box{
			
			width:1000px;
			height:60px;
			display:flex;
			justify-content: flex-start;
			align-items: center;
			margin-left: 30px;
		}
		
		.local-box1{
			width:275px;
			height:60px;
			background-color: rgb(243, 156, 18);
			color:white;
			font-size:25px;
			display:flex;
			justify-content: center;
			align-items: center;
		}
		
		.local-box2{
			font-size:18px;
			width:330px;
			height:60px;
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;
			margin-left: 30px;
			
			
			
			
		}

		.local-box3{
			width:930px;
			display:flex;
			justify-content: flex-end;
			margin-top:100px;
		}
		
		.local-box3 form div{ float:left; }
		
		.local-search{
			width:200px;
			height:34px;
			border:2px solid gray;
			margin-right: 10px;
		}
		
		.local-btn{
			float: left;
			margin-left: 2px;
			flex-direction:row;
			font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
			border-color: black 1px solid;
			background-color: white;
			font-size: 15px;
			color: black;
			height: 40px;
			width: 55px;
			font-weight: 800;
		}
		
		#local-opt{
			float: left;
			margin-right: 6px;
			flex-direction:row;
			font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
			border-color: black 1px solid;
			background-color: white;
			font-size: 15px;
			color: black;
			height: 40px;
			width: 100px;
			font-weight: 800;
		}
		
		.sideTable{
			width:250px;
			text-align: center;
			border-top: 1px solid rgb(243, 156, 18);
			padding: 3px;
			font-size: 15px;
			border-collapse: collapse;
		}
		
		.sideTableTitle{background-color:rgb(243, 156, 18); color: white;}
		
		.sideTable th, .sideTable td{
			border: 1px solid rgb(243, 156, 18);
			padding: 8px;
		}
		
		.sideTable td:hover{
			background-color: rgba(243, 156, 18, 0.5);
		}
		
		#heading{
			font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
			background: rgb(243, 156, 18);
			color:white;
			font-size:40px;
			font-weight: 1000;
			padding: 0.5rem 1rem;
		}
		#secondHeading{
			font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
			font-size:20px;
			font-weight: 500;
			margin-left:10px;
		}
		
		#mainTable{
			
			align: center;
			text-align: center;
			border-top: 1px solid rgb(243, 156, 18);
			padding: 8px;
			font-size: 18px;
			border-collapse: collapse;
		}
		
		#mainTable th, #mainTable td{
			border: 1px solid rgb(243, 156, 18);
			text-align: center;
			padding: 8px;
		}
		
		.th1{
			width:50px;
		}
		.th2{
			width: 80px;
		}
		.th3{
			width:500px;
		}
		.th4{
			width: 100px;
		}
		.th5{
			width:80px;
		}
		
		#writeNoBtn{
			color: white;
			font-size: 15px;
			background-color: rgb(243, 156, 18);
			font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
			font-weight: 600;
			padding: 10px 45px;
			float: right;
			border:none;
		}
		
		#mainBottom{ margin-top: 20px; }
		
		.pagination {
		  margin-left: 270px;
		  margin-top: 20px;
		}
		
		.page-item {
		  color: black;
		  float: left;
		  font-size: 15px;
		  padding: 8px 16px;
		  text-decoration: none; 
		  background: none;
		  border: 1px solid rgba(243, 156, 18, 0.5);
		}
		
		.page-item.active {
		  background-color: rgba(243, 156, 18, 0.5);
		  color: white;
		}
		
		.page-item:hover:not(.active) {background-color: rgba(243, 156, 18, 0.5);}	
		
		
		
		#text{
			display:inline-block;
			text-align:center;
			width:50%;
			height:100px;
			margin-left: 90px;
			margin-top: 70px;
		}